@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
html{
height: 100px;
overflow: hidden;
}
body{
    margin: 0;
    padding: 0;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: 'Josefin Sans', sans-serif;;
    color: #363636;
}
header{
    box-sizing: border-box;
    transform-style: inherit;/* Унаследовать от родителя */
    min-height: 100vh;
    text-align: center;
    padding-top: 25%;
    width: 100vw;
}

header::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    z-index: -1;
    transform-origin: center;
    min-height: 100vh;
    background-image: url('https://images.unsplash.com/photo-1561454260-8559bd155736?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1351&q=80');
    background-repeat: no-repeat;
    background-size: cover;
    transition: 1s;
     /* Параллакс */
    transform: translateZ(-1px) scale(2)
}
header h1 {
    margin-top: -100px;
    font-size: 56px;
  }